body { 
    background: url("/squelettes/images/background.jpg") #fff; 
    font-family: Helvetica, Arial, Sans-Serif;
    padding-top: 40px;
    color: #444;
}

#main {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', sans-serif;    
}

.navbar .brand {
    font-family: 'Bubblegum Sans', sans-serif;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}