body { background: url("/squelettes/assets/images/background.jpg") #fff; font-family: Helvetica, Arial, Sans-Serif; }
#container { background-color: #fff; width: 992px; margin: 0px auto;}
img { padding: 5px 0px; }

.highlight { color: #607890; font-weight: bold;}

/* Nav */
nav { color: #777; height: 32px; text-transform: uppercase; background: #000; }
nav li { display: inline; font-family: AlternateGothicNo2BT-Regular, Helvetica; font-size: 14pt; }
nav .floatleft li:last-child:after { content: ""; }
nav a, a:visited { color: inherit; text-decoration: none; }
nav a:hover { color: #fff; }
nav img { padding: 0px; }
nav .floatleft { width: 60%; float: left; padding: 6px;}
nav .floatright { width: 36%; float: right; text-align: right; margin-right: 12px; padding: 2px 0px;}
nav .formulaire_recherche, nav form, nav form div { float: left; display: inline; padding: 1px;}

/* menu cf. http://www.jankoatwarpspeed.com/post/2009/01/19/Create-Vimeo-like-top-navigation.aspx */ 
#menu { float: left; z-index:1000; } 
#menu a { color: #fff; text-decoration:none; } 
#menu > li { background: #000 none repeat scroll 0 0; cursor:pointer; float:left; position:relative; 
    padding:0px 10px;} 
#menu > li a:hover { color: #607890; } 
#menu .logo { background: transparent none repeat scroll 0% 0%; padding:0px; background-color: transparent; } 
/* sub-menus*/ 
#menu ul { padding:0px; margin:0px; display:block; display:inline;} 
#menu li ul { position:absolute; top:0px; margin-top:22px; width:200px; line-height:16px; 
    background-color:#444444; color:#ccc; /* for IE */ display:none; } 
#menu li:hover ul { display:block;} 
#menu li ul li{ display:block; margin:0px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; 
    list-style-type:none; } 
#menu li ul li:first-child { border-top: none; } 
#menu li ul li a { display:block; color:#ccc; } 
#menu li ul li a:hover { color:#607890; } 
/* main submenu */ 
#menu #main { left:0px; top:0px; padding-top:0px; background-color:#444444; color:#fff; 
    z-index:999;} 

/* Header */
header { width: 100%; height: 137px; background: url("/squelettes/images/dr-header-sommaire.png"); }
header a { text-decoration: none; }
header div { width: 100%; height: 137px; }

/* Boxes */
#main { background-color: #fff; margin-bottom: 20px;}
.sommaire_box { line-height: 1.5em; }
.sommaire_box h2 { border-bottom: 1px solid #ccc; margin: 10px 0px;}
.sommaire_box a, .sommaire_box a:visited { color: inherit; text-decoration: none; }
.sommaire_box p a, .sommaire_box p a:visited { color: #B5514B; text-decoration: none; }
.sommaire_box a:hover, .sommaire_box p a:hover { color: #607890; }
.sommaire_box h1, .sommaire_box h2 { font-family: AlternateGothicNo2BT-Regular, Helvetica; font-weight: normal;}
.sommaire_box h1 { color: #444; font-size: 24pt ; padding: 10px 0px; line-height: 1em; }
.sommaire_box h2 { color: #ccc; font-size: 16pt ; padding: 10px 0px; line-height: 1em; }
.navigation-links { margin: 10px 0px; font-size: 9pt; background-color: #eee; padding: 5px 0px; }
.navigation-links ul { list-style-type: square; }
.compile { border-bottom: 1px dotted #ccc; padding-bottom: 5px; margin-bottom: 10px;}

/* Article */
article { background-color: #fff; font-family: Georgia; font-size: 11pt; }
article img { max-width: 540px; }
article .logo { width: 100%; text-align: center; }
article a, article a:visited { color: #4285BB; text-decoration: none; }
article a:hover { color: #607890; text-decoration: none; }
article h1, article h2 { font-family: AlternateGothicNo2BT-Regular, Helvetica; font-weight: normal;}
article h1 { color: #444; font-size: 24pt ; }
article h2 { color: #ccc; font-size: 16pt ; }
article .entry-content h2 { font-family: AlternateGothicNo2BT-Regular, Helvetica; font-weight: normal; color: #607890; padding: 12px 0px 6px 0px;}
article .ps h2 { font-family: 'Kreon', "Alternate Gothic No.2", Helvetica; font-weight: normal; color: #607890; padding: 12px 0px 6px 0px;}
article section { margin-bottom: 40px; }
article section.small img { width: 306px; float: right; padding-left: 10px; }
article p { padding: 0.5em 0px; text-align: justify; width: 100%; line-height: 1.6em; }
article section p { padding: 0.5em 0px; }

.post-content a, .post-content a:visited { color: #b5514b; text-decoration: none; }
.post-content a:hover { text-decoration: underline; }

/* Tables */
table td { padding: 0.3em 0; }
.row_first { border-bottom: 1px solid #999; }
.row_odd { border-bottom: 1px solid #ddd; }
.row_even { border-bottom: 1px solid #ddd; }

/* Footer */
footer { background: #000; color: #fff; padding: 20px; color: #777; }
footer h5 { color: white; display: inline; }
footer h5:after { content: "..."; }
footer ul { display: inline; margin: 0px;}
footer li { display: inline; margin: 0px;}
footer a, a:visited { color: inherit; text-decoration: none; }
footer a:hover { color: #607890; inherit; text-decoration: none; }

/* SPIP */
.spip-admin-float { margin-top: 36px; }
.pagination { padding: 40px 0;}
.debug { background-color: #aaa; border: thin solid red; }

/* https://gist.github.com/aarongustafson/1313517 */
iframe {
  width: 100%;
}

