@font-face {
    font-family: 'AlternateGothicNo2BT-Regular';
    src: url('/squelettes/assets/webfonts/eot/style_219.eot');
    src: 
    url('/squelettes/assets/webfonts/eot/style_219.eot?#iefix') format('embedded-opentype'),
    url('/squelettes/assets/webfonts/woff/style_219.woff') format('woff'),
    url('/squelettes/assets/webfonts/ttf/style_219.ttf') format('truetype'),
    url('/squelettes/assets/webfonts/svg/style_219.svg#AlternateGothicNo2BT-Regular') format('svg');
}
